body {
    font-family: 'League Spartan', sans-serif;
    background-color: #f6f6f6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    .header-logo {
        font-size: 45pt;
        font-weight: 800;
        letter-spacing: -4px;
        color: black;
        text-decoration: none;
    }
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    @media (max-width: 600px) {
        padding: 0 2rem 0;
    }

    .main-title {
        font-size: 45pt;
        font-weight: 800;
        letter-spacing: -4px;
        margin-bottom: 2rem;
        @media (max-width: 500px) {
            font-size: 40pt;
        }
        
    }

    .list-form {
        .list-item {
            display: flex;
            align-items: center;
            position: relative;
            margin: 2.3rem 0;
            width: 20rem;

            .checkbox {
                cursor: pointer;
                
                span {
                    color: #34495E;
                    padding: 0.5rem 0.25rem;
                }
    
                input {
                    
                    height: 25px;
                    width: 25px;
                    
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -o-appearance: none;
                    appearance: none;
    
                    border: 1px solid #34495E;
                    border-radius: 4px;
                    outline: none;
                    transition-duration: 0.3s;
                    background-color: #41B883;
                    cursor: pointer;
    
                    &:checked {
                        border: 1px solid #41B883;
                        background-color: #34495E;
                    }
                    &:checked + span::before {
                        content: '\2713';
                        text-align: center;
                        color: #41B883;
                        position: absolute;
                        left: 0.4rem;
                        top: 0.2rem;
                    }
                    &:checked + span::before {
                        content: '\2713';
                        text-align: center;
                        color: #41B883;
                        position: absolute;
                        left: 0.4rem;
                        top: 0.2rem;
                    }
                    
                    
                }
                input:checked ~ .input-text {
                    text-decoration: line-through;
                }
            }
            .checkbox-prio {
                input {
                    background-color: #b84141;
                    box-shadow: #ef1e1e 0 0 10px;
                    border: 0;
                    
                    &:checked {
                        border: 1px solid #ff0000;
                        background-color: #5e3434;
                    }
                    &:checked + span::before {
                        color: #ff0000;
                    }
                    
                }
            }
            .label {
                transition: all 0.2s ease;
                color: #d3d2d2;
                position: absolute;
                top: 2px;
                left: 45px;

                &.focused {
                    top: -20px;
                    color: #41B883;
                }
            }

            .input-text {

                border: none;
                border-radius: 0;
                outline: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;

                font-size: 14pt;
                background-color: transparent;
                border-bottom: solid 1px;
                position: absolute;
                margin-left: 2.7rem;
                width: 90%;
                @media (max-width: 575px) {
                    width: 80%;
                }
            }
            .input-text:focus:valid + .label {
                top: -20px;
                color: #41B883;
            }
            &:hover .label {
                top: -20px;
                color: #41B883;
            }
            .text-checked {
                transition: all 0.6s;
                text-decoration: line-through;
                color: #D8D8D8;
            }
            .btn-prio {
                scale: 0;
                border: 0;
                background-color: transparent;
                padding: 0;
                position: absolute;
                right: 0;
                top: 0;
                transition: 0.5s;
            }

            .btn-prio-checked {
                scale: 1;
                color: red;
            }

            .btn-prio-done {
                transition: all 0.6s;
                text-decoration: line-through;
                color: #D8D8D8;
            }

            &:hover .btn-prio {
                scale: 1;
            }

        }
        
    }
    .btn-container {
        margin-top: 1rem;
        max-width: 20rem;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        

        button {
            border: 0;
            padding: 1rem 2rem;
            border-radius: 10px;
            background-color: #181818;
            color: white;
            margin: 1rem 1rem;
            transition: 0.3s;
            box-shadow: #979797 0px 5px 10px 1px;

            &:hover {
                background-color: #41B883;
            }
        }
    }
    .alert-save {
        margin-top: 1rem;
    }
}